<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="post-show">
            <div class="post-show-picture">
                <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %>
            </div>
            <div class="post-show-infos">
                <h2>Author:  <%= @post.author %></h2>
                <p>Content:  <%= @post.content %></p>
                <p>Rating:  <%= @post.rating %></p>
                <p><% link_to "Create a new comment", post_comments_path(@post), class: 'create-comment' %></p>
            </div>

            <div class="comments-container">
                <% if @post.comments.empty? %>
                <% else %>
                <ul class="list-group">
                    <% @post.comments.each do |c| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= c.content %>
                    </li>
                    <% end %>
                </ul>
                <% end %>
                <% render "comments/create", post: @post, comment: @comment %>
            </div>
        </div>
    </div>
</div>
