<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="post" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?avatar');">
            <div class="post-description">
                <h2><%= @post.title %></h2>
            </div>
        </div>
        <br>
        <div class="main-container">
            <div class="picture">
                <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %>
            </div>
            <div class="infos">
                <h2><%= @post.author %></h2>
                <p><%= @post.content %>, rating: <%= @post.rating %></p>
            </div>
        </div>
    </div>
</div>
